<mat-card class = "tp-card" >
<mat-card-header>
    <mat-card-title>Product List</mat-card-title>
 </mat-card-header>

<mat-list  role="list" *ngFor="let product of products | paginate:{itemsPerPage: 6, currentPage:p}"> 
    <a [ngStyle]="{'color': product.color, 'font-weight': 900}" mat-list-item href="/detail-view/{{product.id}}" role="listitem" >{{product.id}}. {{product.name}}</a>
</mat-list>

 <pagination-controls [ngStyle]="{'color': 'red'}" (pageChange)="p=$event"></pagination-controls>

</mat-card>
 <nav style="text-align: center;">
  <a mat-icon  href="/" replace *ngIf="router.url == '/list-view'"><i class="material-icons">keyboard_backspace</i> Back to Home</a>
</nav>
<router-outlet></router-outlet>


