<mat-toolbar color="primary" fxLayout fxLayoutGap="24px" fxLayoutAlign="space-between center">
  <h2>Albana App</h2>
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidenavOpened" class="pt-3">

      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/list-view">List View</a>
        <a mat-list-item routerLink="/production-jobs">Production Jobs</a>
        <a mat-list-item routerLink="/example">Tour of Heros</a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="p-3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>


<!--div>
  <h1 style="text-align: center; margin-top: 300px;" *ngIf="router.url == '/'">{{name}}</h1>

  <nav style="text-align: center;">

    <a routerLink="/list-view" replace *ngIf="router.url == '/'">Go to List<i class="material-icons md-50"> forward</i>
    </a>
  </nav>

  <router-outlet></router-outlet>
</div-->